<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
 <body>
    <form action='/rhino/<%= rhinos._id %>' method='post'>
        Name: <input type='text' name='name' value="<%= rhinos.name %>">
        Place of Birth: <input type='text' name='placeBirth' value="<%= rhinos.placeBirth %>">
        Age: <input type='number' name='age' value="<%= rhinos.age %>">
        <button type="submit">Change <%= rhinos.name %></button>
    </form>
    <form action='/rhino/destroy/<%= rhinos._id %>' method='post'>
        <button type="submit">Delete<%= rhinos.name %></button>
    </form>
    <a href="/">
        <button>See existing Rhinos</button>
     </a>
 </body>
 </html>